html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    max-width: 80%;
}

.dark {
    color: whitesmoke !important;
    background-color: black !important;
}